%h1 Links

%h2 Organizations / Clubs / Festivals
%ul
	%li= link_to "International Jugglers' Association", "http://www.juggle.org/"
	%li= link_to "Queen's / Kingston Juggling Club", "http://kingstonjugglers.org/"
	%li= link_to "World Juggling Federation", "http://www.thewjf.com"
	%li= link_to "Toronto Juggling Club", "http://www.jugglebum.com/torontoclub.html"
	%li= link_to "Cornell University Juggling Club", "http://www.rso.cornell.edu/cjc"
	%li= link_to "Waterloo Juggling Festival", "http://juggling.uwaterloo.ca/festival.html"
	%li= link_to "Victoria Juggling Club", "http://www.uvss.uvic.ca/clubs/juggling/"
	%li= link_to "RIT Spring Juggle - In", "http://www.rit.edu/sg/jugglingclub/jugglein/"
	%li= link_to "Quebec Juggling Association", "http://www.jaq.qc.ca"
	%li= link_to "New York City Jugglers - Carmine Street Irregulars", "http://www.jugglenyc.com/"

%h2 Equipment vendors / Manufacturers
%ul
	%li= link_to "Higgins Brothers Juggling Equipment", "http://www.higginsbrothers.com/"
	%li= link_to "In the Spin Juggling Equipment", "http://www.inthespinjuggling.com/"
	%li= link_to "Renegade Juggling Equipment", "http://www.renegadejuggling.com/"
	%li= link_to "Brian Dube Juggling Equipment", "http://www.dube.com/"
	%li= link_to "Goudurix", "http://www.goudurix.com/"
	%li= link_to "Todd Smith Juggling Equipment", "http://www.toddsmith.com/"
	%li= link_to "Aerotech Projects Ltd. - Makers of Globalls", "http://www.globall.com/"
	%li= link_to "Serious Juggling", "http://www.seriousjuggling.com/"

%h2 Juggling Topic Sites / Forums / Performers
%ul
	%li= link_to "Diabolo.ca forum and videos", "http://diabolo.ca/"
	%li= link_to "Internet Juggling Database", "http://www.jugglingdb.com/"
	%li= link_to "Ryo Yabe's Webpage", "http://www.hogonopro.com/%7Eryo/"
	%li= link_to "Mad French Posse Diabolo site", "http://www.artofdiabolo.com/"
	%li= link_to "Juggling Information Service", "http://www.juggling.org/"
	%li= link_to "Anthony Gatto - World's Greatest Juggler", "http://www.anthonygatto.com/"
	%li= link_to "Alan Plotkins Juggling Videos", "http://www.festivalvideos.com/"
	%li= link_to "Jason Garfield", "http://www.jasongarfield.com/"
	%li= link_to "Vova &amp; Olga Galchenko", "http://www.galchenko.com/"
	%li= link_to "Luke Burrage", "http://www.lukeburrage.com/"
	%li= link_to "Viktor Kee", "http://www.viktorkee.com/"
	%li= link_to "Matt Hall", "http://scweb.esuhsd.org/programs/jugglesensei/"

%h2 Siteswap links
%ul
	%li= link_to "Siteswap on Wikipedia", "http://en.wikipedia.org/wiki/Siteswap"
	%li= link_to "Siteswap.org - A great collection of siteswap resources", "http://www.siteswap.org/"
	%li= link_to "Matt Hall's Siteswap list", "http://scweb.esuhsd.org/programs/jugglesensei/SiteswapFun1.htm"
	%li= link_to "Matt Hall's Siteswap list (printable)", "http://dev.meagar.net/misc/siteswaps.pdf"
	%li= link_to "Juggling Lab - A cross-platform siteswap animator/generator written in Java", "http://jugglinglab.sourceforge.net/"
