%h2= link_to record.name, record
- if record.current_holder
	%span.name #{record.current_holder.name} :
	%span.score #{holder_score record.current_holder},
	%span.when= record.current_holder.time.strftime '%b %e %Y'
= admin_div do
	= link_to 'Show', record
	= link_to 'Edit', edit_record_path(record)
	= link_to 'Destroy', record, :confirm => 'Are you sure?', :method => :delete

