
<h1><%= @record.name %></h1>

<% if @record.current_holder -%>
	<h2>Current Record Holder</h2>
	<ul><li>
	<h3><%= @record.current_holder.name %></h3>
	<%= holder_score @record.current_holder -%>,
	<%= @record.current_holder.time.strftime('%B %e, %Y %l:%M%P') -%>
	</li></ul>
<% end -%>

<% if @record.past_holders.length -%>
	<h2>Past Record Holders</h2>

	<ul class="record-holders">
	<% @record.past_holders.each do |holder| -%>
		<li>
			<h3><%= holder.name %></h3>
			<%= holder_score holder -%>,
			<%= holder.time.strftime('%B %e, %Y %l:%M%P') -%>
			<% admin_div do -%>
				<%= link_to 'Edit', edit_record_holder_path(@record, holder) %>
			<% end %>
		</li>
	<% end %>
	</ul>
<% end -%>

<% admin_div do -%>
	<%= link_to 'Edit', edit_record_path(@record) %>
	<%= link_to 'New', new_record_holder_path(@record) %>
<% end %>

<%= link_to 'Back', records_path %>
