<%= form_for @holder do |f| %>
	
	<% if @holder.errors.any? -%>
    <div id="error_explanation">
      <h2><%= pluralize(@holder.errors.count, "error") %> prohibited this record holder from being saved:</h2>

      <ul>
      <% @holder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end -%>

	<p>
		<%= f.label:name %>
		<%= f.text_field :name %>
	</p>

	<p class="record-holder-score">
		<%= f.label:score %>
		<% if @holder.record.unit == 'time' -%>
			<%= f.text_field :score_hours   %> hours,
			<%= f.text_field :score_minutes %> minutes,
			<%= f.text_field :score_seconds %> seconds 
		<% else -%>
			<%= f.text_field :score %> <%= @holder.record.unit %>
		<% end -%>
	<p>

	<p>
		<%= f.label:time %>
    <%= f.datetime_select :time, :start_year => 1989 %>
	</p>

	<p class="actions">
		<%= f.submit %>
	</p>

<% end %>
