<h1>Events</h1>
<!--
<table border="1">
</table>
-->
<p>
Juggling festivals are a great place to be inspired and astounded by truly
great juggling. There are usually one or more vendors of juggling equipment
present, and crash-space can usually be arranged for multi-day festivals.
Events are usually added to our Google Calendar.
</p>

<p>
Some upcoming events and festivals within driving distance of London:
</p>

<ul id="events-index" class="events">
<% @events.each do |event| %>
	<li class="event">
		<section class="event">
		<h1><%= event.homepage ? link_to(event.name, event.homepage, {:target => '_blank'}) : event.name %></h1>
			<aside class="when-and-where">
				<span class="start"><%= event.starts_at.strftime '%A %B %e' %></span> -
				<span class="end"><%= event.ends_at.strftime '%A %B %e %Y' 
					%></span><% unless event.location.nil? -%>, <span class="where"><%= event.location %></span>
				<% end %>
			</aside>

			<section class="desc">
				<%= markdown event.description %>
			</section>

		</section>
	</li>
<% end %>
</ul>

<%= admin_div do %>
	<%= link_to 'New Event', new_event_path %>
<% end %>
