<h1>Events</h1>

<p>
Juggling festivals are a great place to be inspired and astounded by truly
great juggling. There are usually one or more vendors of juggling equipment
present, and crash-space can usually be arranged for multi-day festivals.
Events are usually added to our Google Calendar.
</p>

<p>
Some upcoming events and festivals within driving distance of London:
</p>

<ul id="events-index" class="events">
<% @events.each do |event| %>
	<li class="event">
		<section class="event">
			<h1><%= link_to event.name, event %></h1>
			<aside class="when-and-where">
				<span class="start"><%= event.starts_at.strftime '%A %B %e' %></span> -
				<span class="end"><%= event.ends_at.strftime '%A %B %e %Y' %></span>,
				<span class="where"><%= event.location %></span>
			</aside>

			<a href="<%= event.homepage %>" class="homepage external" target="_blank">Homepage</a>
			<section class="desc">
				<%= markdown event.description %>
			</section>

			<% admin_div do %>
				<%= link_to 'Show', event %>
				<%= link_to 'Edit', edit_event_path(event) %>
				<%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>	
		</section>
	</li>
<% end %>
</ul>

<% admin_div do %>
	<%= link_to 'New Event', new_event_path %>
<% end %>
