
<section class="event">
	<h1><%= @event.name %></h1>
	<aside class="when-and-where">
		<span class="start"><%= @event.starts_at.strftime '%A %B %e' %></span> -
		<span class="end"><%= @event.ends_at.strftime '%A %B %e %Y' %></span>,
		<span class="where"><%= @event.location %></span>
	</aside>

	<a href="<%= @event.homepage %>" class="homepage external" target="_blank">Homepage</a>
	<section class="desc">
		<%= markdown @event.description %>
	</section>

	<% admin_div do %>
		<%= link_to 'Show', @event %>
		<%= link_to 'Edit', edit_event_path(@event) %>
		<%= link_to 'Destroy', @event, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>	
</section>


<nav>
	<%= link_to 'Edit', edit_event_path(@event) %> |
	<%= link_to 'Back', events_path %>
</nav>
